<table border="4" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>duration</th>
      <th>first</th>
      <th>gpats_cnt</th>
      <th>last</th>
      <th>max_gust</th>
      <th>min_vis</th>
    </tr>
    <tr>
      <th>Date</th>
      <th>source</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1997-04-18</th>
      <th>pwrw</th>
      <td>1</td>
      <td>1997-04-18 17:00:00</td>
      <td>NaN</td>
      <td>1997-04-18 18:00:00</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2003-03-16</th>
      <th>pwrw</th>
      <td>1.5</td>
      <td>2003-03-16 08:30:00</td>
      <td>NaN</td>
      <td>2003-03-16 10:00:00</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2011-04-29</th>
      <th>gpats</th>
      <td>0.2</td>
      <td>2011-04-29 05:41:27</td>
      <td>2</td>
      <td>2011-04-29 05:54:58</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>pwrw</th>
      <td>2.2</td>
      <td>2011-04-29 05:49:00</td>
      <td>NaN</td>
      <td>2011-04-29 08:00:00</td>
      <td>17</td>
      <td>5</td>
    </tr>
  </tbody>
</table>