{% extends "base.html" %}
{% block content %}
<div>

<h2>Credits</h2>
<p>This <a href="http://vinorda.pythonanywhere.com/">weather intelligence website</a>
was designed and developed by
<a href="mailto:vinorda@gmail.com?Subject=Aerodrome Weather Intelligence Website"><strong>VinordA</strong></a><br/>
Content Enquiries - <a href="mailto:vinorda@gmail.com"><strong>VinordA</strong></a><br/>
     <ul>
        <li><a href="http://www.gpats.com.au/home">GPATS data</a>
         Source: TOA Systems, Inc. Australian Lightning Network, courtesy of
         <a href="https://metraweather.com/">MetraWeather Australia Pty Ltd.</a></li>
        <li><a href="http://www.bom.gov.au">AWS and Radiosonde data</a>
         Source: Austrlian Bureau of Meteorology.</a></li>
    </ul>

<h2>Copyright</h2>
<p>© <a href="http://vinorda.pythonanywhere.com">Aerodrome Weather Intelligence</a>.
You may use parts of this website with permission. You may link directly to this website.</p>
<h2>Disclaimer</h2>
<p>The content of this web site is provided for general information purposes only.
The information on the web site is provided on the basis that all persons accessing the site
undertake responsibility for assessing the relevance and accuracy of its content.</p>

<!--
<h2>Future Requests/ Additional products and services</h2>
<p>Other past data analysis/investigations...
<li> solar data analysis for a solar farm startup feasibiity study in regional QLD.</li>
<li> runway crosswind climatology study for an airstrip in a very mountaineous region (in the ME) for feasibility of large cargo flights to operate on the runway</li>
<li> basic climatology reports for small regional areas focusing on major weather impacts on specific land based and marine operations </li>
<li> many reports on tropical cyclone events between 1995 to 2002 through the South Pacific region. </li>
<li> major report on a disastrous flood event in Fiji during 1999 ( with our local scientist/vigyanik RXK). </li>
<br>
-->

</div>

<div>
   <em>This page was last modified on: 27/07/18&nbsp; |&nbsp;
		content enquiries: </em> <a href="mailto:vinorda@gmail.com"><strong>VinordA</strong></a></p>
</div>
{% endblock %}
